---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <title>{ title }</title>
    <link rel="apple-touch-icon" href="/favicon.svg">
    <meta name="apple-mobile-web-app-title" content="Wetterstation">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "5ef8ea694e46496e8525b8ae3e8900ad"}'></script>
    <!-- End Cloudflare Web Analytics -->
  </head>
  <body>
    <slot/>
  </body>
</html>

<style>
  body,html {
    background: radial-gradient(circle, rgba(22,27,42,1) 60%, rgb(3, 39, 37) 90%);
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  *::-webkit-scrollbar-track {
    background: rgba(22,27,42,1);
  }
  *::-webkit-scrollbar-thumb {
    background-color: #474747;
    border-radius: 10px;
  }
</style>